<h1>Editing Task</h1>

<%= render 'form', task: @task %>

<td><%= link_to 'Show', user_tasks_path(task.user, task) %></td>
<td><%= link_to 'Edit', edit_user_task_path(task.user, task) %></td>
<td><%= link_to 'Destroy', user_tasks_path(task.user, task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
<%= link_to 'Back', user_tasks_path(@task.user_id) %>

<%= link_to 'New Task', new_user_task_path(@user) %>
